.profile {
  padding: 40px 0 51px;
  margin: 0;
}
.profile__content {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: none;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  flex-wrap: wrap;
  max-width: 425px;
  margin: 0 30px 0 30px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.profile__edit-button {
  background-color: #000;
  height: 24px;
  width: 24px;
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: border-color 0.5s linear 0s;
}

.profile__edit-button:hover {
  border-color: #545454;
}

.profile__edit-icon {
  height: 100%;
  width: 100%;
  padding: 1px 6px;
  box-sizing: border-box;
  transition: filter 0.5s linear 0s;
}

.profile__edit-icon:hover {
  filter: brightness(0) saturate(100%) saturate(38%) invert(32%) sepia(0%)
    hue-rotate(250deg) contrast(89%);
}

.profile__space {
  flex-grow: 1;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  padding: 0;
  transition: border-color 1s linear 0s;
}

.profile__add-button:hover {
  border-color: #545454;
}

.profile__add-icon {
  height: 100%;
  width: 100%;
  padding: 14px 64px;
  box-sizing: border-box;
  transition: filter 1s linear 0s;
}

.profile__add-icon:hover {
  filter: brightness(0) saturate(100%) saturate(38%) invert(32%) sepia(0%)
    hue-rotate(250deg) contrast(89%);
}

@media screen and (max-width: 760px) {
  .profile__title {
    font-size: 30px;
    max-width: 325px;
  }

  .profile__subtitle {
    font-size: 16px;
  }

  .profile__add-button {
    width: 50px;
  }

  .profile__add-icon {
    padding: 14px 14px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    padding: 42px 0 36px;
  }

  .profile__content {
    flex-direction: column;
    height: 286px;
    width: 282px;
    align-items: center;
    margin: 0 auto;
  }

  .profile__title {
    width: 282px;
    height: 50px;
    font-size: 22px;
    justify-content: center;
    column-gap: 14px;
    margin-top: 30px;
    line-height: 1;
  }

  .profile__subtitle {
    font-size: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    padding: 0;
  }

  .profile__edit-icon {
    padding: 0.75px 4.5px;
  }

  .profile__space {
    height: 0;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    justify-self: flex-start;
  }

  .profile__add-icon {
    padding: 17px 132px;
  }
}
